.site-footer {
  width: 100%;
  background: #222;
  color: white;
  padding: 40px 20px;
  text-align: center;
  
}



.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 50px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  display: inline;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}